@using Microsoft.AspNetCore.Http;
<DOCTYPE html />
<html>
	<head>
		<meta charset="utf-8" />
		<title>TrainSystem</title>
	</head>
	<body>
		<ul>
			<li><a asp-action="Index" asp-controller="Home">Home</a></li>
			@if (!User.Identity.IsAuthenticated)
			{
				<li><a asp-action="Login" asp-controller="Account">Войти</a></li>
			}

		</ul>
		@RenderBody()
	</body>
</html>